steps:
  # Build the Docker image with version tag
  - name: 'gcr.io/cloud-builders/docker'
    args: ['build', '-t', 'us-central1-docker.pkg.dev/ringer-warp-v01/warp-platform/kamailio:v1.0', '-t', 'us-central1-docker.pkg.dev/ringer-warp-v01/warp-platform/kamailio:latest', '.']
    
  # Push the Docker images to Artifact Registry
  - name: 'gcr.io/cloud-builders/docker'
    args: ['push', '--all-tags', 'us-central1-docker.pkg.dev/ringer-warp-v01/warp-platform/kamailio']

# Configure the build
options:
  machineType: 'E2_HIGHCPU_8'
  logging: CLOUD_LOGGING_ONLY
  
# Specify the images to be pushed
images:
  - 'us-central1-docker.pkg.dev/ringer-warp-v01/warp-platform/kamailio:v1.0'
  - 'us-central1-docker.pkg.dev/ringer-warp-v01/warp-platform/kamailio:latest'