apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: messaging
spec:
  template:
    spec:
      containers:
      - name: rabbitmq
        env:
        - name: RABBITMQ_NODENAME
          value: "rabbit@rabbitmq-0.rabbitmq-service.messaging.svc.cluster.local"