apiVersion: v1
kind: Namespace
metadata:
  name: external-dns
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: external-dns
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-dns
rules:
  - apiGroups: [""]
    resources: ["services","endpoints","pods"]
    verbs: ["get","watch","list"]
  - apiGroups: ["extensions","networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get","watch","list"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["list","watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: external-dns-viewer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
  - kind: ServiceAccount
    name: external-dns
    namespace: external-dns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: registry.k8s.io/external-dns/external-dns:v0.14.0
        args:
        - --source=service
        - --source=ingress
        - --domain-filter=ringer.tel # Will monitor only this domain
        - --domain-filter=ringer.net # And staging domain if exists
        - --provider=gandi
        - --gandi-api-key=$(GANDI_API_KEY)
        - --registry=txt
        - --txt-owner-id=ringer-warp
        - --log-level=info
        - --interval=1m
        - --policy=sync # Use 'sync' to allow deletion of DNS records
        env:
        - name: GANDI_API_KEY
          valueFrom:
            secretKeyRef:
              name: gandi-api-credentials
              key: api-key
---
apiVersion: v1
kind: Secret
metadata:
  name: gandi-api-credentials
  namespace: external-dns
type: Opaque
stringData:
  api-key: "REPLACE_WITH_YOUR_API_KEY"