apiVersion: v1
kind: Service
metadata:
  name: api-gateway-external
  namespace: warp-api
  annotations:
    cloud.google.com/load-balancer-type: "External"
  labels:
    app: api-gateway
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: https
    port: 443
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
  externalTrafficPolicy: Cluster

